@charset "utf-8";
//-----------------------------------------------------
// config scss
// 默认值设置
//-----------------------------------------------------

// 浏览器兼容
//-----------------------------------------------------
$lte7:           true !default; //是否兼容 ie6/7
$filter:         true !default; //是否开启滤镜

// 字体相关
//-----------------------------------------------------
$baseFontSize:   12px !default;
$baseTextColor:  #000 !default;
$baseFontFamily: \5FAE\8F6F\96C5\9ED1, \5b8b\4f53, arial, sans-serif !default;

// placeholder
//-----------------------------------------------------
$placeholder:    false #ccc !default;