@charset "utf-8";
//-----------------------------------------------------
// config scss
// 配置文件，包括开关设置，默认值设置
//-----------------------------------------------------

// 开关设置
//-----------------------------------------------------
$lte7:                  true !default; //是否兼容 ie6/7
$filter:                true !default; //是否开启滤镜

// font相关
//-----------------------------------------------------	
$baseFontSize:          12px !default;
$baseTextColor:         #000 !default;
$baseFontFamily:        \5FAE\8F6F\96C5\9ED1, \5b8b\4f53, arial, sans-serif !default;

// placeholder
//-----------------------------------------------------	
// 变量分别为：是否输出 placeholder 样式，文本色
$placeholder:           false #ccc !default;