@charset "utf-8";
//-----------------------------------------------------
// css3 scss
// 整理常用的一些 css3 属性
//-----------------------------------------------------

$prefixWebkit: true !default;   //-webkit-
$prefixMoz:    true !default;   //-moz-
$prefixMs:     true !default;   //-ms-
$prefixNo:     true !default;   //标准

@mixin prefixer($property, $value, $prefixes: webkit) {
    @each $prefix in $prefixes {
        @if $prefix == webkit and $prefixWebkit {
            -webkit-#{$property}: $value;
        }
        @else if $prefix == moz and $prefixMoz {
            -moz-#{$property}: $value;
        }
        @else if $prefix == ms and $prefixMs {
            -ms-#{$property}: $value;
        }
    }
    @if $prefixNo {
        #{$property}: $value;
    }
}

@mixin box-sizing($value: border-box) {
    // border-box | content-box
    @include prefixer(box-sizing, $value, webkit moz);
}

@mixin box-shadow($value...) {
    @include prefixer(box-shadow, $value);
}

@mixin background-origin($value...) {
    // padding-box | border-box | content-box
    @if length($value) >= 1 {
        @include prefixer(background-origin, $value)
    } @else {
        @include prefixer(background-origin, border-box);
    }
}

@mixin background-size($value...) {
    // auto || 100px || 50% || cover || contain
    @if length($value) >= 1 {
        @include prefixer(background-size, $value);
    } @else {
        @include prefixer(background-size, cover);
    }
}

@mixin background-clip($value...) {
    // border-box || padding-box || content-box || text
    @if length($value) >= 1 {
        @include prefixer(background-clip, $value);
    } @else {
        @if $value == text {
            @include prefixer(background-clip, text);
        } @else {
            @include prefixer(background-clip, padding-box);
        }
    }
}

//text-fill-color()
@mixin text-fill-color($color: transparent) {
    @include background-clip(text);
    @include prefixer(text-fill-color, $color, webkit);
}

//text-stroke(1px red)
@mixin text-stroke($value) {
    @include prefixer(text-stroke, $value, webkit);
}